
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(43, 3, 68);
    list-style-type: none;
    height: 70px;
}

.nav li {
    margin-right: 15px;
}

.nav a {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
}

a.active {
    font-weight: 600;
    color: #0c7815;
}

